openapi: 3.0.1

info:
  title: YuChat Bot API
  version: 1.1.2
  description: Публичный API для работы с YuChat.
  contact:
    name: Команда YuChat
    url: https://www.yuchat.ai
    email: support@yuchat.ai

servers:
  - url: https://yuchat.ai

tags:
  - name: message
    description: отправка/редактирование/удаление сообщений
  - name: chat
    description: создание чатов, просмотр/приглашение участников в чат
  - name: member
    description: посмотр участников воркспейса
  - name: updates
    description: получение всех событий, адресованных боту
  - name: file
    description: получение ссылки для загрузки файлов

paths:
  /public/v1/chat.message.send:
    post:
      description: отправка сообщения от имени бота
      tags:
        - message
      operationId: sendChatMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChatMessagePublicV1Request'
        required: true
      responses:
        "200":
          description: сообщение успешно отправлено, в теле ответа есть id этого сообщения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendChatMessagePublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.message.edit:
    post:
      description: редактирование сообщения
      tags:
        - message
      operationId: editChatMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditChatMessagePublicV1Request'
        required: true
      responses:
        "200":
          description: сообщение успешно отредактировано, в теле ответа находится время последнего обновления, id сообщения остается прежним
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditChatMessagePublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.message.delete:
    post:
      description: удаление сообщения
      tags:
        - message
      operationId: deleteChatMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteChatMessagePublicV1Request'
        required: true
      responses:
        "200":
          description: сообщение успешно удалено, в теле ответа находится время удаления
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteChatMessagePublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.message.forward:
    post:
      description: пересылка сообщения в другой чат
      tags:
        - message
      operationId: forwardChatMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForwardChatMessagePublicV1Request'
        required: true
      responses:
        "200":
          description: сообщение успешно переслано, в теле ответа находится id пересланного сообщения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardChatMessagePublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.workspace.create:
    post:
      description: создание публичного/приватного чата внутри воркспейса
      tags:
        - chat
      operationId: createWorkspaceChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceChatPublicV1Request'
        required: true
      responses:
        "200":
          description: чат успешно создан, в теле ответа находится id чата
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWorkspaceChatPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.personal.create:
    post:
      description: создание персонального чата (личные сообщения)
      tags:
        - chat
      operationId: createPersonalChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePersonalChatPublicV1Request'
        required: true
      responses:
        "200":
          description: персональный чат успешно создан, в теле ответа находится id чата
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePersonalChatPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.thread.create:
    post:
      description: создание треда внутри чата
      tags:
        - chat
      operationId: createThreadChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThreadChatPublicV1Request'
        required: true
      responses:
        "200":
          description: тред успешно создан, в теле ответа находится id чата
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateThreadChatPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.workspace.list:
    post:
      description: получение списка чатов внутри воркспейса
      tags:
        - chat
      operationId: listWorkspaceChats
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListWorkspaceChatsPublicV1Request'
        required: true
      responses:
        "200":
          description: список чатов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceChatsPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/chat.invite:
    post:
      description: приглашение участников в чат
      tags:
        - chat
      operationId: inviteToChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteToChatPublicV1Request'
        required: true
      responses:
        "200":
          description: участники успешно приглашены, в теле ответа находится информация о чате, в том числе id участников
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteToChatPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/member.list:
    post:
      description: получение списка участников воркспейса
      tags:
        - member
      operationId: listMembers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberListPublicV1Request'
        required: true
      responses:
        "200":
          description: список участников
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberListPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/file.getPreSignedUrl:
    post:
      description: получение ссылки для загрузки файла на сервер
      tags:
        - file
      operationId: getPreSignedUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFilePreSignedUrlPublicV1Request'
        required: true
      responses:
        "200":
          description: ссылка для загрузки файла и id файла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFilePreSignedUrlPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/file.getDownloadUrl:
    post:
      description: получение ссылки для скачивания файла
      tags:
        - file
      operationId: getDownloadUrl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFileDownloadUrlPublicV1Request'
        required: true
      responses:
        "200":
          description: ссылка для загрузки файла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileDownloadUrlPublicV1Response'
        "401":
          $ref: '#/components/responses/UnauthorizedError'

  /public/v1/bot.getUpdates:
    get:
      description: получение всех событий, адресованных боту (личные сообщения, упоминания в чатах, приглашение в чаты и т. д.)
      operationId: getUpdates
      tags:
        - updates
      parameters:
        - name: offset
          in: query
          description: ID последнего обработанного события. Если не указан, возвращаются все события.
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          description: максимальное количество событий, которое нужно вернуть. По умолчанию 100.
          required: false
          schema:
            type: integer
            default: 100
        - name: timeout
          in: query
          description: таймаут в секундах для ожидания новых событий. По умолчанию 0 (без ожидания).
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: список событий, адресованных боту
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Update'
components:
  schemas:
    WorkspaceId:
      description: id воркспейса
      example: "w67Y89gu"
      type: string
      format: flake-id

    ChatId:
      description: id чата, уникальный в рамках воркспейса
      example: "c56Y0kgi"
      type: string
      format: string-id

    ChatMessageId:
      description: id сообщения, уникальный в рамках воркспейса и чата
      example: "m56Y0kgi"
      type: string
      format: flake-id

    AccountId:
      description: id аккаунта пользователя
      example: "a56Y0kgi"
      type: string
      format: flake-id

    NewChatMessage:
      description: сообщение, которое видит бот
      example:
        workspaceId: "w67Y89gu"
        chatId: "c56Y0kgi"
        messageId: "m56Y0kgi"
        author: "a56Y0kgi"
        markdown: "Напоминаю, сегодня корпоратив в 19:00 (боты тоже приглашены)"
      required:
        - workspaceId
        - chatId
        - messageId
        - markdown
        - author
      type: object
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        chatId:
          $ref: '#/components/schemas/ChatId'
        messageId:
          $ref: '#/components/schemas/ChatMessageId'
        author:
          $ref: '#/components/schemas/AccountId'
        parentMessageId:
          $ref: '#/components/schemas/ChatMessageId'
        parentMessageAuthor:
          $ref: '#/components/schemas/AccountId'
        markdown:
          type: string
        fileIds:
          type: array
          items:
            type: string

    InviteToChat:
      description: приглашение бота в чат
      example:
        workspaceId: "w67Y89gu"
        chatId: "c56Y0kgi"
        inviter: "a56Y0kgi"
      required:
        - workspaceId
        - chatId
        - inviter
      type: object
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        chatId:
          $ref: '#/components/schemas/ChatId'
        inviter:
          $ref: '#/components/schemas/AccountId'

    WorkspaceChat:
      description: информация о чате
      example:
        chatId: "c56Y0kgi"
        membershipIds: [ "a56Y0kgi", "a56Y0kgi" ]
        workspaceId: "w67Y89gu"
        name: "Флудилка с мемами"
        type: "PUBLIC"
        announceChannel: true
        description: "Общение на любые темы, кроме работы"
      type: object
      properties:
        chatId:
          type: string
        membershipIds:
          type: array
          items:
            type: string
        workspaceId:
          type: string
        name:
          type: string
        type:
          $ref: '#/components/schemas/WorkspaceChatType'
        announceChannel:
          type: boolean
        description:
          type: string

    WorkspaceChatType:
      description: тип чата (публичный, приватный, общий, breakout)
      example: "PUBLIC"
      type: string
      enum:
        - PRIVATE
        - PUBLIC
        - GENERAL
        - BREAKOUT

    ChatMemberRoleType:
      description: роль участника в чате (участник, админ, владелец)
      example: "CHAT_MEMBER"
      type: string
      enum:
        - CHAT_MEMBER
        - CHAT_ADMIN
        - CHAT_OWNER

    ChatPermission:
      description: права участника в чате
      example: "RENAME_CHAT"
      type: string
      enum:
        - CHANGE_ROLE
        - ARCHIVE_CHAT
        - RENAME_CHAT
        - UPDATE_CONFIG
        - KICK_FROM_CHAT
        - SEND_MESSAGES_TO_ANNOUNCE_CHANNEL
        - PIN_CHAT_MESSAGE
        - SCHEDULE_CONFERENCE

    Member:
      description: информация о участнике воркспейса
      type: object
      properties:
        memberId:
          type: string
        profile:
          $ref: '#/components/schemas/Profile'
        roleType:
          $ref: '#/components/schemas/MemberRoleType'
        presence:
          type: object
          properties:
            isOnline:
              type: boolean
            isOnCall:
              type: boolean
            lastSeenAt:
              type: string
              format: date-time
        status:
          $ref: '#/components/schemas/MemberStatus'

    Profile:
      description: информация о профиле участника
      type: object
      properties:
        profileId:
          type: string
        primaryEmail:
          type: string
        fullName:
          type: string
        type:
          $ref: '#/components/schemas/AccountType'
        details:
          $ref: '#/components/schemas/AccountDetails'

    AccountDetails:
      description: дополнительная информация о пользователе
      type: object
      properties:
        position:
          type: string
        department:
          type: string
        phoneNumber:
          type: string
        location:
          $ref: '#/components/schemas/AccountLocation'

    AccountLocation:
      description: статус участника
      type: string
      enum:
        - LOCATION_NOT_SET
        - OFFICE
        - HOME
        - VACATION

    MemberRoleType:
      description: роль участника воркспейса
      type: string
      enum:
        - MEMBER
        - ADMIN
        - OWNER
        - GUEST
        - GUEST_CALLER

    MemberStatus:
      description: статус участника
      type: string
      enum:
        - PENDING
        - ACTIVE
        - SUSPENDED

    AccountType:
      description: тип аккаунта
      example: "REGULAR"
      type: string
      enum:
        - REGULAR
        - BOT
        - VOICE_BOT
        - INTEGRATION_BOT
        - GUEST_ACCOUNT

    Update:
      description: событие, адресованное боту
      type: object
      required:
        - updateId
      properties:
        updateId:
          type: integer
          format: int64
        newChatMessage:
          $ref: '#/components/schemas/NewChatMessage'
        inviteToChat:
          $ref: '#/components/schemas/InviteToChat'

    WorkspaceChatMembership:
      description: информация о чате и его участниках
      type: object
      properties:
        chat:
          $ref: '#/components/schemas/WorkspaceChat'
        role:
          # TODO: description:
          $ref: '#/components/schemas/ChatMemberRoleType'
        permissions:
          type: array
          items:
            # TODO: description:
            $ref: '#/components/schemas/ChatPermission'

    SendChatMessagePublicV1Request:
      description: отправка сообщения
      example:
        workspaceId: "w67Y89gu"
        chatId: "c56Y0kgi"
        markdown: "**Коллеги**, когда фича будет готова?"
      type: object
      required:
        - workspaceId
        - chatId
        - markdown
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        chatId:
          $ref: '#/components/schemas/ChatId'
        markdown:
          description: текст сообщения
          type: string
        fileIds:
          description: id файлов, прикрепленных к сообщению
          example: [ "f56Y0kgi", "f56Y0kgi" ]
          type: array
          items:
            type: string
          nullable: true
        replyTo:
          $ref: '#/components/schemas/ChatMessageId'

    SendChatMessagePublicV1Response:
      type: object
      required:
        - messageId
      properties:
        messageId:
          $ref: '#/components/schemas/ChatMessageId'

    EditChatMessagePublicV1Request:
      description: редактирование сообщения
      example:
        workspaceId: "w67Y89gu"
        chatId: "c56Y0kgi"
        chatMessageId: "m56Y0kgi"
        newMarkdown: "Извините, я ошибся, все было не так"
      type: object
      required:
        - workspaceId
        - chatId
        - chatMessageId
        - newMarkdown
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        chatMessageId:
          $ref: '#/components/schemas/ChatMessageId'
        chatId:
          $ref: '#/components/schemas/ChatId'
        newMarkdown:
          description: новый текст сообщения
          type: string

    EditChatMessagePublicV1Response:
      type: object
      required:
        - updatedAt
      properties:
        updatedAt:
          type: string
          format: date-time

    DeleteChatMessagePublicV1Request:
      type: object
      required:
        - workspaceId
        - chatId
        - chatMessageId
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        chatId:
          $ref: '#/components/schemas/ChatId'
        chatMessageId:
          $ref: '#/components/schemas/ChatMessageId'

    DeleteChatMessagePublicV1Response:
      type: object
      required:
        - updatedAt
      properties:
        updatedAt:
          type: string
          format: date-time

    ForwardChatMessagePublicV1Request:
      description: пересылка сообщения
      example:
        workspaceId: "w67Y89gu"
        sourceChatId: "c56Y0kgi"
        sourceChatMessageId: "m56Y0kgi"
        targetChatId: "c56Y0kgi"
        markdown: "Смотри, что написали в другом чате..."
      type: object
      required:
        - workspaceId
        - sourceChatId
        - sourceChatMessageId
        - targetChatId
        - markdown
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        sourceChatId:
          $ref: '#/components/schemas/ChatId'
        sourceChatMessageId:
          $ref: '#/components/schemas/ChatMessageId'
        targetChatId:
          $ref: '#/components/schemas/ChatId'
        markdown:
          description: текс сообщения, которое "подписывает" пересылаемое сообщение
          type: string

    ForwardChatMessagePublicV1Response:
      type: object
      required:
        - forwardedMessageId
      properties:
        messageId:
          $ref: '#/components/schemas/ChatMessageId'

    CreateWorkspaceChatPublicV1Request:
      description: запрос на создание публичного/приватного чата внутри воркспейса
      example:
        workspaceId: "w67Y89gu"
        participants: [ "a56Y0kgi", "a56Y0kgi" ]
        name: "Флудилка с мeмами без начальников"
        type: "PRIVATE"
        announceChannel: false
        description: "Общение на любые темы, кроме работы (для всех, кроме начальников)"
      type: object
      required:
        - workspaceId
      properties:
        workspaceId:
          description: id воркспейса, в котором создается чат
          type: string
        participants:
          description: id участников чата
          type: array
          items:
            type: string
        name:
          description: название чата
          type: string
        type:
          $ref: '#/components/schemas/WorkspaceChatType'
        announceChannel:
          description: false - могут писать все, true - только админы
          type: boolean
        description:
          type: string

    CreateWorkspaceChatPublicV1Response:
      example:
        chatId: "c56Y0kgi"
      type: object
      properties:
        chatId:
          type: string

    CreatePersonalChatPublicV1Request:
      description: запрос на создание персонального чата
      example:
        workspaceId: "w67Y89gu"
        participant: "a56Y0kgi"
      type: object
      required:
        - workspaceId
        - participant
      properties:
        workspaceId:
          description: id воркспейса, в котором создается чат
          type: string
        participant:
          description: id участника чата (должен быть участником воркспейса)д
          type: string

    CreatePersonalChatPublicV1Response:
      type: object
      properties:
        chatId:
          type: string

    CreateThreadChatPublicV1Request:
      description: запрос на создание треда внутри чата
      example:
        workspaceId: "w67Y89gu"
        chatId: "c56Y0kgi"
        parentMessageId: "m56Y0kgi"
      type: object
      required:
        - workspaceId
        - chatId
        - parentMessageId
      properties:
        workspaceId:
          description: id воркспейса
          type: string
        chatId:
          description: id чата
          type: string
        parentMessageId:
          description: id сообщения, в котором ("под которым") создается тред
          type: string

    CreateThreadChatPublicV1Response:
      type: object
      properties:
        chatId:
          type: string

    ListWorkspaceChatsPublicV1Request:
      description: запрос на получение списка чатов внутри воркспейса
      example:
        maxCount: 100
        workspaceId: "w67Y89gu"
      type: object
      properties:
        chatIds:
          description: id чатов, информацию о которых нужно получить. Если не указан, возвращаются все чаты в воркспейсе
          type: array
          items:
            type: string
        maxCount:
          description: максимальное количество чатов, которое нужно вернуть. По умолчанию 100  
          type: integer
        workspaceId:
          description: id воркспейса
          type: string

    ListWorkspaceChatsPublicV1Response:
      type: object
      properties:
        workspaceChats:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceChatMembership'

    InviteToChatPublicV1Request:
      description: запрос на приглашение участников в чат
      example:
        chatId: "c56Y0kgi"
        workspaceId: "w67Y89gu"
        memberId: [ "a56Y0kgi", "a77Y0kgi" ]
      type: object
      required:
        - chatId
        - workspaceId
        - memberId
      properties:
        chatId:
          description: id чата
          type: string
        workspaceId:
          description: id воркспейса
          type: string
        memberId:
          description: id участников, которых нужно пригласить в чат
          type: array
          items:
            type: string

    InviteToChatPublicV1Response:
      type: object
      properties:
        chat:
          $ref: '#/components/schemas/WorkspaceChat'

    MemberListPublicV1Request:
      description: запрос на получение списка участников воркспейса
      example:
        workspaceId: "w67Y89gu"
      type: object
      required:
        - workspaceId
      properties:
        workspaceId:
          description: id воркспейса
          type: string

    MemberListPublicV1Response:
      description: список участников воркспейса
      type: object
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/Member'

    MediaType:
      description: тип файла
      example: "IMAGE"
      type: string
      enum:
        - RAW
        - IMAGE
        - AUDIO
        - VIDEO
        - PDF
        - DOC
        - XLS
        - PPT

    GetFilePreSignedUrlPublicV1Request:
      description: запрос на получение ссылки для загрузки файла
      example:
        fileName: "file.txt"
        mediaType: "RAW"
        workspaceId: "w67Y89gu"
        accessChatId: "c56Y0kgi"
      type: object
      required:
        - fileName
        - mediaType
        - workspaceId
      properties:
        fileName:
          type: string
          description: имя файла
        mediaType:
          $ref: '#/components/schemas/MediaType'
        workspaceId:
          type: string
          description: id воркспейса
        accessChatId:
          type: string
          nullable: true
          description: id чата, в котором будет доступ к файлу

    GetFilePreSignedUrlPublicV1Response:
      description: ссылка для загрузки файла и id файла
      example:
        url: "https://yuchat.ai/file/upload/679878"
        fileId: "f56Y0kgi"
      type: object
      required:
        - url
        - fileId
      properties:
        url:
          type: string
          description: Ссылка для загрузки файла
        fileId:
          type: string
          description: ID файла

    GetFileDownloadUrlPublicV1Request:
      description: запрос на получение ссылки для скачивания файла
      example:
        fileId: "c56Y0kgi"
      type: object
      required:
        - fileId
      properties:
        fileId:
          type: string
          description: ID файла

    GetFileDownloadUrlPublicV1Response:
      description: ссылка для скачивания файла
      example:
        url: "https://yuchat.ai/file/upload/679878"
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: Ссылка для скачивания файла

  responses:
    UnauthorizedError:
      description: Ошибка авторизации, токен не передан или неверный

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Токен, который можно получить от aibot@yuchat.ai с помощью команды /botcreate.
security:
  - bearerAuth: [ ]

