openapi: 3.0.1

info:
  title: YuChat Bot API
  version: 2.0.0
  description: Публичный API для работы с YuChat.
  contact:
    name: Команда YuChat
    url: https://www.yuchat.ai
    email: support@yuchat.ai

servers:
  - url: https://yuchat.ai

tags:
  - name: me
    description: Управление ботом

paths:
  /public/v2/sendMessage:
    post:
      description: "Отправка сообщения в чат"
      tags:
        - message
      operationId: sendMessage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                workspaceId:
                  example: "AIQffAsGi8"
                  description: "Id рабочего пространства, в котором отправляется сообщение"
                  type: string
                chatId:
                  example: "w:AIQffAsGi8"
                  description: "Id чата, в который отправляется сообщение"
                  type: string
                text:
                  example: "Привет!"
                  description: "Сообщение в формате Markdown"
                  type: string
                fileIds:
                  example: "[ADK5NyCqIK, BDK5NyCqIK]"
                  description: "Массив из Id файлов, которые будут прикреплены к сообщению"
                  type: array
                  items:
                    type: string
                replyTo:
                  example: "gIQffAsGi8"
                  description: "Id сообщения, на который ссылается отправляемое сообщение (ответ на сообщение)"
                  type: string
              required:
                - workspaceId
                - chatId
      responses:
        "200":
          description: "Сообщение успешно отправлено"
          content:
            application/json:
              schema:
                properties:
                  messageId:
                    example: "gIQffAsGi8"
                    description: "Id отправленного сообщения"
                    type: string
                required:
                  - messageId
        "403":
          description: "Ошибка аутентификации"
        "429":
          description: "Превышен лимит запросов"

  /public/v2/editMessage:
    post:
      description: "Редактирование сообщения"
      tags:
        - message
      operationId: editMessage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                workspaceId:
                  example: "gIQffAsGi8"
                  description: "Id рабочего пространства, в котором редактируется сообщение"
                  type: string
                chatId:
                  example: "w:gIQffAsGi8"
                  description: "Id чата, в котором редактируется сообщение"
                  type: string
                messageId:
                  example: "gIQffAsGi8"
                  description: "Id редактируемого сообщения"
                  type: string
                text:
                  example: "Привет!"
                  description: "Сообщение в формате Markdown"
                  type: string
                fileIds:
                  example: "[ADK5NyCqIK, BDK5NyCqIK]"
                  description: "Массив из Id файлов, которые будут прикреплены к сообщению"
                  type: array
                  items:
                    type: string
              required:
                - workspaceId
                - chatId
                - messageId
      responses:
        "200":
          description: "Сообщение отредактировано"
          content:
            application/json:
              schema:
                type: object
                nullable: true
        "403":
          description: "Ошибка аутентификации"
        "429":
          description: "Превышен лимит запросов"

  /public/v2/deleteMessages:
    post:
      description: "Удаление сообщений"
      tags:
        - message
      operationId: deleteMessages
      requestBody:
        content:
          application/json:
            schema:
              properties:
                workspaceId:
                  example: "gIQffAsGi8"
                  description: "Id рабочего пространства, в котором удаляются сообщения"
                  type: string
                chatId:
                  example: "fIQffAsGi8"
                  description: "Id чата, в котором удаляются сообщения"
                  type: string
                messageIds:
                  example: "[ADK5NyCqIK, BDK5NyCqIK]"
                  description: "Массив из Id удаляемых сообщений"
                  type: array
                  items:
                    type: string
              required:
                - workspaceId
                - chatId
                - messageIds
      responses:
        "200":
          description: "Информация об удаленных сообщениях"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMessagesResponse'
        "403":
          description: "Ошибка аутентификации"
        "429":
          description: "Превышен лимит запросов"
  
  /public/v2/forwardMessage:
    post:
      description: "Переслать сообщение"
      tags:
        - message
      operationId: forwardMessage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                workspaceId:
                  example: "AIQffAsGi8"
                  description: "Id рабочего пространства, в которое пересылается сообщение"
                  type: string
                sourceChatId:
                  example: "w:AIQffAsGi7"
                  description: "Id чата, из которого пересылается сообщение"
                  type: string
                sourceMessageIds:
                  description: "Id пересылаемых сообщений"
                  type: array
                  example: "[ADK5NyCqIK, BDK5NyCqIK]"
                  items:
                    type: string
                targetChatId:
                  example: "w:AIQffAsGi8"
                  description: "Id чата, в который пересылается сообщение"
                  type: string
                text:
                  example: "Посмотри на это"
                  description: "Подпись к пересылаемому сообщению в формате Markdown"
                  type: string
              required:
                - workspaceId
                - sourceChatId
                - sourceMessageIds
                - targetChatId
      responses:
        "200":
          description: "Сообщение успешно переслано"
          content:
            application/json:
              schema:
                properties:
                  messageId:
                    example: "gIQffAsGi8"
                    description: "Id пересланного сообщения"
                    type: string
                required:
                  - messageId
        "403":
          description: "Ошибка аутентификации"
        "429":
          description: "Превышен лимит запросов"

  /public/v2/pinMessage:
    post:
      description: "Закрепление сообщения в чате"
      tags:
        - message
      operationId: pinMessage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                workspaceId:
                  example: "AIQffAsGi8"
                  description: "Id рабочего пространства, в котором закрепляется сообщение"
                  type: string
                chatId:
                  example: "w:AIQffAsGi8"
                  description: "Id чата, в котором закрепляется сообщение"
                  type: string
                messageId:
                  example: "dIQffAsGi7"
                  description: "Id закрепляемого сообщения"
                  type: string
              required:
                - workspaceId
                - chatId
                - messageId
      responses:
        "200":
          description: "Сообщение закреплено"
          content:
            application/json:
              schema:
                type: object
                nullable: true
        "403":
          description: "Ошибка аутентификации"
        "429":
          description: "Превышен лимит запросов"

  /public/v2/unpinMessage:
    post:
      description: "Открепление сообщения в чате"
      tags:
        - message
      operationId: unpinMessage
      requestBody:
        content:
          application/json:
            schema:
              properties:
                workspaceId:
                  example: "AIQffAsGi8"
                  description: "Id рабочего пространства, в котором открепляется сообщение"
                  type: string
                chatId:
                  example: "w:AIQffAsGi8"
                  description: "Id чата, в котором открепляется сообщение"
                  type: string
                messageId:
                  example: "dIQffAsGi7"
                  description: "Id открепляемого сообщения"
                  type: string
              required:
                - workspaceId
                - chatId
                - messageId
      responses:
        "200":
          description: "Сообщение откреплено"
          content:
            application/json:
              schema:
                type: object
                nullable: true
        "403":
          description: "Ошибка аутентификации"
        "429":
          description: "Превышен лимит запросов"

  /public/v2/getMe:
    post:
      description: "Получение сведений о боте, в том числе список рабочих пространств, в которых состоит бот, а также информация о профиле бота"
      tags:
        - me
      operationId: getMe
      responses:
        "200":
          description: "Сведения о боте"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeInfo'
        "403":
          description: "Ошибка аутентификации"
        "429":
          description: "Превышен лимит запросов"

components:
  schemas:
    DeleteMessagesResponse:
      type: object
      description: "Информация об удаленных сообщениях"
      required:
        - updatedAt
        - deletedMessageIds
      properties:
        updatedAt:
          description: "Время удаления сообщений"
          type: string
          format: date-time
          example: "2024-07-21T17:32:28Z"
        deletedMessageIds:
          description: "Массив из messageId, которые были удалены"
          type: array
          example: "[ADK5NyCqIK, BDK5NyCqIK]"
          items:
            type: string

    MeInfo:
      type: object
      description: "Сведения о боте, в том числе список рабочих пространств, в которых состоит бот, а также информация о профиле бота"
      required:
        - profile
        - workspaces
      properties:
        profile:
          description: "Профиль бота"
          $ref: '#/components/schemas/Profile'
        workspaces:
          description: "Массив из workspaceId, в которых состоит бот"
          type: array
          example: "[ADK5NyCqIK, BDK5NyCqIK]"
          items:
            type: string

    Profile:
      description: "Информация о профиле участника"
      type: object
      required:
        - accountId
        - createdAt
        - updatedAt
        - accountType
      properties:
        accountId:
          description: "Идентификатор аккаунта"
          example: "AIQffAsGi8"
          type: string
        email:
          description: "Почтовый адрес"
          example: "i.ivanov@example.ru"
          type: string
        createdAt:
          description: "Дата и время создания аккаунта"
          example: "2023-02-26T18:58:36.154+03:00"
          type: string
        updatedAt:
          description: "Дата и время последнего изменения аккаунта"
          example: "2024-02-26T18:58:36.154+03:00"
          type: string
        fullName:
          description: "Отображаемое имя"
          example: "Иванов Иван Иванович"
          type: string
        accountType:
          $ref: '#/components/schemas/AccountType'
        accountDetails:
          $ref: '#/components/schemas/AccountDetails'

    AccountDetails:
      description: "Дополнительные данные о пользователе"
      type: object
      properties:
        position:
          description: "Должность"
          example: "Аналитик"
          type: string
        department:
          description: "Департамент"
          example: "B2B"
          type: string
        phoneNumber:
          description: "Номер телефона"
          example: "88001234567"
          type: string
        location:
          $ref: '#/components/schemas/AccountLocation'
        bio:
          description: "Краткая информация"
          example: "Не беспокоить после 20:00"
          type: string
        status:
          example: "В командировке"
          description: "Статус"
          type: string

    AccountType:
      description: "Тип аккаунта"
      example: "REGULAR"
      type: string
      enum:
        - REGULAR
        - BOT
        - GUEST

    AccountLocation:
      description: "Место нахождения"
      example: "OFFICE"
      type: string
      enum:
        - NOT_SET
        - OFFICE
        - HOME
        - VACATION

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Токен, который можно получить от aibot@yuchat.ai с помощью команды /botcreate.
security:
  - bearerAuth: [ ]

