openapi: 3.0.1

info:
  title: YuChat Bot API
  version: 2.0.0
  description: Публичный API для работы с YuChat.
  contact:
    name: Команда YuChat
    url: https://www.yuchat.ai
    email: support@yuchat.ai

servers:
  - url: https://yuchat.ai

tags:
  - name: ping
    description: Проверка доступа до API
  - name: me
    description: Управление ботом

paths:
  /public/v2/getMe:
    post:
      description: "Получение сведений о боте, в том числе список рабочих пространств, в которых состоит бот, а также информация о профиле бота"
      tags:
        - me
      operationId: getMe
      responses:
        "200":
          description: Сведения о боте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeInfo'
  /public/v2/ping:
    get:
      security: []
      description: Пинг до API
      tags:
        - ping
      operationId: ping
      responses:
        "200":
          description: Сообщение с серверным временем
          content:
            application/json:
              schema:
                type: string

components:
  schemas:
    MeInfo:
      type: object
      description: "Сведения о боте, в том числе список рабочих пространств, в которых состоит бот, а также информация о профиле бота"
      required:
        - profile
        - workspaces
      properties:
        profile:
          description: "Профиль бота"
          $ref: '#/components/schemas/Profile'
        workspaces:
          description: "Массив из workspaceId, в которых состоит бот"
          type: array
          example: "[ADK5NyCqIK, BDK5NyCqIK]"
          items:
            type: string

    Profile:
      description: "Информация о профиле участника"
      type: object
      properties:
        accountId:
          description: "Идентификатор аккаунта"
          example: "AIQffAsGi8"
          type: string
        email:
          description: "Почтовый адрес"
          example: "i.ivanov@example.ru"
          type: string
        createdAt:
          description: "Дата и время создания аккаунта"
          example: "2023-02-26T18:58:36.154+03:00"
          type: string
        updatedAt:
          description: "Дата и время последнего изменения аккаунта"
          example: "2024-02-26T18:58:36.154+03:00"
          type: string
        fullName:
          description: "Отображаемое имя"
          example: "Иванов Иван Иванович"
          type: string
        accountType:
          $ref: '#/components/schemas/AccountType'
        accountDetails:
          $ref: '#/components/schemas/AccountDetails'

    AccountDetails:
      description: "Дополнительные данные о пользователе"
      type: object
      properties:
        position:
          description: "Должность"
          example: "Аналитик"
          type: string
        department:
          description: "Департамент"
          example: "B2B"
          type: string
        phoneNumber:
          description: "Номер телефона"
          example: "88001234567"
          type: string
        location:
          $ref: '#/components/schemas/AccountLocation'
        bio:
          description: "Краткая информация"
          example: "Не беспокоить после 20:00"
          type: string
        status:
          example: "В командировке"
          description: "Статус"
          type: string

    AccountType:
      description: "Тип аккаунта"
      example: "REGULAR"
      type: string
      enum:
        - REGULAR
        - BOT
        - GUEST

    AccountLocation:
      description: "Место нахождения"
      example: "OFFICE"
      type: string
      enum:
        - NOT_SET
        - OFFICE
        - HOME
        - VACATION

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Токен, который можно получить от aibot@yuchat.ai с помощью команды /botcreate.
security:
  - bearerAuth: [ ]

